body{
  background-color: white;
}
.body2{
  background-color: purple;
}

button{
  border-radius: 5px;
}

.winner{
color: green;
}

#mar-1{}
#mar-2{}
#j1{}
#j2{}
#reset-btn{}

.encima{
  color: red;
}
