<%- include("partials/header") %>

<h1>Acerca de...</h1>
<h2><%= sujetoVar %></h2>


<% if(sujetoVar.toLowerCase() === "toño"){ %>
    <p>Toño es el mejor</p>
<% }else{ %>
    <p>Toño es mejor opcion que eso</p>
<% } %>

<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptates, tenetur.
   Aspernatur inventore adipisci expedita, necessitatibus nam est, reprehenderit
   laudantium, earum doloremque dolor neque laboriosam odit velit perferendis quae
   obcaecati incidunt consequuntur in beatae. Obcaecati cupiditate veritatis 
   nesciunt neque sequi laudantium deleniti totam, 
   necessitatibus praesentium in harum quis quisquam repudiandae voluptatibus!</p>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptates, tenetur.
   Aspernatur inventore adipisci expedita, necessitatibus nam est, reprehenderit
   laudantium, earum doloremque dolor neque laboriosam odit velit perferendis quae
   obcaecati incidunt consequuntur in beatae. Obcaecati cupiditate veritatis 
   nesciunt neque sequi laudantium deleniti totam, 
   necess  itatibus praesentium in harum quis quisquam repudiandae voluptatibus!</p>

<%- include("partials/footer") %>